body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  /* 메뉴열때 흔들림 방지 */
  /* overflow-x: hidden;
  overflow-y: auto; */
}
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
 }
.logo:hover{
  cursor: pointer;
}
.clickable:hover{
  cursor: pointer;
}
.pointerlable:hover{
  cursor: pointer;
}
.buttonContainer {
    display: none; /* 초기에는 버튼을 숨깁니다 */
  }
  .hover:hover{
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .buttonContainer {
      display: flex;

    }
  }
 



  .videos_side_container{
    width: 100%;
    height: 100%;
    /* border: 1px solid #16d757;
    background-color: #a830c0; */
    flex-direction: column;
    display: none;
    padding: 0px 10px;

  }
  .videos_bottom_container {
    width: 100%;
    height: 100%;
    /* border: 1px solid #16d757;
    background-color: #a830c0; */
    flex-direction: column;
    display: block;
  }
 
  @media screen and (min-width: 1024px){
    .videos_bottom_container {
      display: none;
    }

  }


  .volumn_slider:hover {
  cursor: pointer;
  }


  @media screen and (min-width: 1024px){
    .left_container{
      
      display: block;
    }
    .videos_side_container{
      width: 40%;
      display: block;
      height: 100%;
      /* background-color: #a6cc33; */
    }

   

  }
  .side_container{
    width: 20%;
    height: 100%;
    border: 1px solid #cc4141;
    display: none;
    flex-direction: column;
    background-color: #cc4141;

  }


 

  .video-container:hover{
    cursor: pointer;
  }

  .channel-link{
    text-decoration: none;
  }
  .channel-link:visited{
    color: blue;
  }

  @keyframes growAndFade {
    0% {

      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    
    }

    100% {

      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
display: none;
    }
  }


  .avatar-container{
    width: 100%;
    display: table;
    table-layout: fixed;

  }
  
  .menu {
    /* margin-top: 100px; */
    /* position: fixed; */
    
    left: 0;
    top: 0;
    height: 100vh;
    width: 220px; /* 메뉴 너비 지정 */
    /* background-color: white; 배경색 지정 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이템을 수직 방향 중앙 정렬 */
    justify-content: space-between; /* 수직 방향 상단 정렬 */
}

.avatar_container {
    margin-top: 20px; /* 아바타와 텍스트 사이의 간격 조정 */
    text-align: center; /* 내부 텍스트 가운데 정렬 */
}

.menu_middle_container {
    margin-top: 20px; /* 아바타와 메뉴 사이의 간격 조정 */
    flex-grow: 1; /* 메뉴 컨테이너가 화면 전체를 채우도록 설정 */
    display: flex;
    flex-direction: column;
    height: 50%;
    
    
}
.menu_bottom_container {
  flex-grow: 1; /* 메뉴 컨테이너가 화면 전체를 채우도록 설정 */
  display: flex;
  flex-direction: column;
  margin:'auto';
  bottom: 0%;
  }

.menu-divider {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px; /* 세로선 너비 지정 */
        background-color: #bdb9b9; /* 세로선 색상 지정 */
    }





.glass_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background: rgba(5, 43, 4, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11px );
  -webkit-backdrop-filter: blur( 11px );
  border-radius: 10px;
  border: 1px solid rgba(50, 19, 19, 0.553);

  /* padding: 0 50px; */
}
/* new slider */
/* .new-slider-container{
  scroll-snap-type: y mandatory;
} */

.new-slider-section{
  block-size: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: grid;
  place-items: center;
  overflow: scroll;
}

/* 이미지 슬라이더(shorts) */
.slider-container {
  max-height: 100vh;
  overflow: scroll;
  
  justify-content: center;
  margin-top: 140px;
  display: grid;
  align-items: center;

}

.slider-container .slide {
  scroll-snap-align: start;
  width: 400px;
  height: 700px;
  margin: 15px 50px;
  

}

.slider-container div {
  width: 100%; /* 이미지가 슬라이드 내에서 꽉 차게 설정 */
  height: 100%; /* 이미지가 슬라이드 내에서 꽉 차게 설정 */
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}


.icon {
  position: absolute;
  color: black;
  z-index: 3;
  
}

.top-left {
  top: 0;
  left: 0;
}


/* Shorts 슬라이더 */
#container {
	height: 40vh;
	display: grid;
	place-items: center
}
#slider-container {
	height: 500px;
	width: 85vw;
	max-width: 1400px;
	position: relative;
	overflow: hidden;
	padding: 20px;
}
#slider-container .btn {
	position: absolute;
	top: calc(50% - 30px);
	height: 15px;
	width: 15px;
	border-left: 8px solid #696969;
	border-top: 8px solid #696969;
	cursor: pointer;
}
#slider-container .btn:hover {
	transform: scale(1.2);
}
#slider-container .btn.inactive {
	border-color: #282828
}
#slider-container .btn:first-of-type {
	transform: rotate(-45deg);
	left: 10px
}
#slider-container .btn:last-of-type {
	transform: rotate(135deg);
	right: 10px;
}
#slider-container #slider {
	display: flex;
	width: 1000%;
	height: 100%;
	transition: all .5s;
}
#slider-container #slider .slide {
	height: 90%;
	margin: auto 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
	display: grid;
	place-items: center;
}
#slider-container #slider .slide span {
	color: white;
	font-size: 60px;
}
@media only screen and (min-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(2.5% - 20px);
	}
}
@media only screen and (max-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(3.3333333% - 20px);
	}
}
@media only screen and (max-width: 900px) {
	#slider-container #slider .slide {
		width: calc(5% - 20px);
	}
}
@media only screen and (max-width: 550px) {
	#slider-container #slider .slide {
		width: calc(10% - 20px);
	}
}

/* 히스토리 영상 */

.history-videos-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(23, 209, 17, 0.25);
  backdrop-filter: blur( 11px );
  border: 1px solid rgba(50, 19, 19, 0.553);

}
.history-video-container{
  
  width: 100%;
  height: 20vh;
  background: rgba(23, 209, 17, 0.25);
  

}

/* 영상 시청 */
.detail_page_container{
  /* border: 1px solid #e0e0e0; */
  height:100%;
  width: 100%;
  display: flex;
  background-color:white;
  
  
}


.left_container{
  width: 100%;
  height: 100%;
  /* border: 4px solid #3237c2; */
  display: flex;
  flex-direction: column;
  


}

.screen-container {
  
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #111111;
  justify-content: center;
  align-items: center;
}


.screen_info_container{
  width: 100%;
  height: 20%;

  


}
.screen_comment_container{
  width: 100%;
  /* height: 100vh; */
  /* border: 1px solid #22419e;
  background-color: #50ba6e; */
}

@media screen and (min-width: 1024px){
  .screen_bottom_left_container{
    width: 80%;
    height: 100%;
  }
  .screen_bottom_right_container{
    display: none;
  }
}

.screen_bottom_left_container{
  width: 100%;
  height: 100%;
}

.screen_bottom_right_container{
  width: 20%;
  height: 100%;
  /* background-color: #16d757; */
}



/* Next Video */
.next_video_container {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  max-height: 98px;
  margin: 5px 0px;
  cursor: pointer;
}

/* 나중에 시청 비디오 컨테이너 */
.later_video_container {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  align-items: center;
  width: 100%;
  height: 100%;
  /* max-width: 70vw; */
  min-width: 450px;
  border-radius: 10px;
  max-height: 106px;
  overflow: auto;
  margin: 0px 15px;
  justify-content: space-between;
  /* margin-right: 55px; */
}

.later_video_container:hover {
  background-color: #eee;
  cursor: pointer;
}

/* 비디오 아이템 정보 */
.video-item-inform-container{
display: flex;
flex-direction: column;
overflow: hidden;
margin-left: 10px;
align-self: flex-start;
margin-top: 10px;
flex: 1;
line-height: 1;
}

.dot-menu-button{
  display: none;
  margin-right: 10px;
}

.later_video_container:hover .dot-menu-button {
  display: block;
}

@media screen and (min-width: 600px){
  .later_inner_outer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
 
    align-items: center;

  }
  
}
@media screen and (max-width: 600px){
  .later_inner_outer{
    display: flex; flex-direction: column; width: 80%; height: 80%; 
    margin: auto;
    
  }
  .later-button-container{
    /* display: flex; */
    /* flex-direction: column; */
  }
  
}
@media screen  and (min-width: 1024px){
  .later_outer{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 1000px;
height: 100%;
 
    max-width: 450px;
  position: fixed;
    align-items: center;
  z-index: 1;
  border-radius: 25px;
  margin-left: 24px;

  
  }
  .later_inner_outer{
    display: flex; 
    flex-direction: column; 
    width: 100%;  max-width: 400px;
    z-index: 1;
    position: absolute;
    height: 50%;

  }

  .video_container{
    padding-left: 450px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-left: 24px;
    /* background: rgba(23, 209, 17, 0.25); */
    backdrop-filter: blur( 11px );
    /* border: 1px solid rgba(50, 19, 19, 0.553); */
  }
  .later-button-container{
    margin-bottom: 400px;
  }
  
}

.video_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* background: rgba(23, 209, 17, 0.25); */
  backdrop-filter: blur( 11px );
  /* border: 1px solid rgba(50, 19, 19, 0.553); */
}


.later_outer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 0px;

}

/* 앱 헤더 */
.creator-app-header-container{
  display: flex;
  flex-direction: column;
}
.creator-app-header{
  background-color: aqua;
  border-radius: 10px;
  max-height: 180px;
  height: 100%;
  width: 100%;
}
.creator-inform-container{
  display: flex;
  margin: 10px 0px;
}
.creator-inform-click{
  cursor: pointer;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  margin: 0 auto;
  padding: 10px;
  gap: 30px;
  justify-self: start;
}

.grid-item {
  flex: 0 0 calc(33.333% - 10px); /* 3개의 그리드 항목을 가로로 배치 */
  margin-bottom: 10px;
  line-height: 100px;
  width: 100%;
}

@media (max-width: 600px) { /* 화면 너비가 600px 이하인 경우 */
  .grid-item {
      flex-basis: calc(50% - 10px); /* 두 개씩 묶어서 배치 */
  }
}

@media (max-width: 400px) { /* 화면 너비가 400px 이하인 경우 */
  .grid-item {
      flex-basis: calc(100% - 10px); /* 한 줄에 한 개의 그리드 항목만 배치 */
  }
}

@media (min-width: 1200px) { /* 화면 너비가 1200px 이상인 경우 */
  .grid-item {
      flex-basis: calc(15% - 5px); /* 5개의 그리드 항목을 가로로 배치 */
  }
}

/* 커뮤니티 컨테이너 */
.community-container {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  max-height: 900px;
  max-width: 900px;
  border-radius: 25px;
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
}


/* 썸네일 */
.thum-container{
  width: 120px;
  height: 80px;
  border: 1px dotted rgba(0, 0, 0, 0.282);
  display: flex;
  justify-content: center;
  align-items: center;
}

.thum-container:hover{
  cursor: pointer;
  border: 1px dotted black
}

/* 영상 스켈레톤 */
.video-skeleton {
  width: 500px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 30px 0px;
}

.hidden-input{
  display: none
}

.container {
  display: flex;
  height: 100vh; /* 전체 화면 높이 */
}

.fixed-container {
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  width: 200px; /* 고정 너비 */
  height: 100%; /* 전체 높이 */
  background-color: #ccc;
}

.rounded-container {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%; /* 원 모양의 둥근 모서리 */
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px){
  .flexible-container {
    margin-left: 500px; 
    flex: 1; /* 나머지 영역을 차지하도록 설정 */
    display: flex;
    flex-direction: column; /* 세로로 아이템들을 배치 */
    overflow-y: auto; /* 필요시 스크롤 생성 */
  }
}

.flexible-container {
  /* margin-left: 450px; 고정 컨테이너의 너비만큼 우측으로 이동 */
  flex: 1; /* 나머지 영역을 차지하도록 설정 */
  display: flex;
  flex-direction: column; /* 세로로 아이템들을 배치 */
  overflow-y: auto; /* 필요시 스크롤 생성 */
}

.item {
  padding: 10px;
  margin: 5px;
  /* background-color: #f0f0f0; */
  border-radius: 15px;
}

.community-box-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 900px;
  max-width: 800px;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 20px;
}
.flex{
  display: flex;
}

.preview{
  width: 100%;
  border: 1px solid lightgray;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.preview.active {
  background-color: #efeef3;
  border-color: #111;
  border: 3px dotted lightgray;
}

.playSide-btn {
  background-color: #e81010;
  border-radius: 20px;
  max-width: 30px;
  max-height: 30px;
  opacity: 0.9;
}

.playSide-info-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 50px;
}
.playSide-btn-container{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  margin: auto;
}
.playSide-btn{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  margin: auto 15px;
  background-color: white;
  max-height: 450px;
  max-height: 40px;
}
.playSide-img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}